/* ------MAIN PAGE------ */
/*цвет заголовков - #212121*/
/*основной цвет -  #757575*/
/*белый #FFFFFF*/
/* акцент голубой 
#2196F3*/
/* цвет фона #F5F5F5 */
/*вторичный цвет фона #F5F4FA */
/* цвет фона хедера 
#FFFFFF */
/* ------PORTFOLIO------ */
/*  фон кнопки #F5F4FA, цвет текста на кнопке  #212121;*/
/* ------FONTS------ */
/* Roboto, font-weight: 700; font-weight: 500, font-weight: 400
Raleway: font-weight: 700 */
*{
    text-decoration:none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

:root{
    --primary-text-color: #757575;
    --header_color: #212121;
    --accent-color: #2196F3;
    --button-bg-color:#2196F3;
    --second-bg-color: #F5F4FA;
    --button-bg-color-portfolio: #F5F4FA;
    --button-color-portfolio: #212121;
    

}
.Web{
    color:var(--accent-color) ;
}
body{
    background-color:  #F5F5F5;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif ;
}

.logo {
    color: black;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    /* identical to box height */
    
    letter-spacing: 0.03em;
    font-family: 'Raleway';
}
.list{
    list-style: none;
}
/* site-nav */
.site-nav .link{
    color: var(--header_color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    
    
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
}

/* hero */
.hero-title{
    color:var(--header_color);
}
/* section */
.section-title{
    color:var(--header_color);
}
/* activities */
.activities-list .title{
    color: var(--primary-text-color);
}

.employers .title{
    color:var(--header_color);
}
/* Button */
.button{
    font-family: inherit;
    background-color: var(--button-bg-color-portfolio);
    color: var(--button-color-portfolio);   
    border:none;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
/* identical to box height, or 162% */
}
.section-nav .button:hover  {
    background-color:var(--accent-color) ;
    color: white;
}
.link-imgs .img-list-title{
font-weight: 700;
font-size: 18px;
line-height: 2em;
letter-spacing: 0.06em;
color: var(--header_color)
}
.img-list-paragraph{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.footer{
    background-color:  #2F303A;
}
.address{
    font-style: normal;
}
.address .adress-paragraph{
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: white    ;

}
.address .address-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}